nserver __DNS1__
nserver __DNS2__

nscache 65536
timeouts 1 5 30 60 180 1800 15 60

log /dev/stdout
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"

users "__USER__:CR:__PASSWORD__"

allow __ALLOW__
deny __DENY__

auth strong
maxconn 32
proxy -p__PORT__
flush

setgid __NOBODY_GROUP__
setuid __NOBODY_USER__
